<%= form_for(@transportation_user) do |f| %>
  <% if @transportation_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transportation_user.errors.count, "error") %> prohibited this transportation_user from being saved:</h2>

      <ul>
      <% @transportation_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :transporation_id %><br>
    <%= f.number_field :transporation_id %>
  </div>
  <div class="field">
    <%= f.label :like %><br>
    <%= f.check_box :like %>
  </div>
  <div class="field">
    <%= f.label :dislike %><br>
    <%= f.check_box :dislike %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
