<%= simple_form_for(@schedule, :html => {:class => 'form-inline' }) do |f| %>
  <div >
    <%= f.input :location , :label => 'Location'%>&nbsp;
    <%= f.input :start_date, as: :date, :label => 'Start Date'%>
    <%= f.input :end_date, as: :date, :label => 'End Date'%>
    <%= f.input :group_id, collection: Group.all, :label => 'Group'%>

  </div>

  <div class="actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>

<% end %>