  <% if user_signed_in? && !current_user.groups.empty? %>
	  <div class="row">
	    <div class="container">
	      <div class="col-md-3" ><%= render 'left' %></div>
	      <div class="col-md-6" ><%= render 'schedules' %></div>
	      <div class="col-md-3 " id="home-right"><%= render 'right' %></div>
	    </div>
	  </div>
  <% elsif user_signed_in? && current_user.groups.empty? %>
	    <div class="container">
		  <div class="jumbotron">
	    <h1 id="home-title">Plan it, Track it  &nbsp;&amp;&nbsp;Love it<h1>
	    <h1 id="home-title">	</h1>   	
	    <div class="main-container">   
	   		<div class="fixer-container">	     
		    <button type="button" class="btn btn-default"><%= link_to 'Start Planning a Trip', new_schedule_path %></button>    
		  </div>
	<% else %>
		  <div class="row">
	    <div class="container">
		  <div class="jumbotron">
	    <h1 id="home-title">Plan it, Track it  &nbsp;&amp;&nbsp;Love it<h1>
	    <h1 id="home-title">	</h1>   	
	    <div class="main-container">   
	   		<div class="fixer-container">	     
		    <button type="button" class="btn btn-default"><%= link_to 'Start Planning a Trip', new_user_session_path %></button>    
		  </div>
		</div>

	<%end%>

