<%= simple_form_for @event do |f| %>

  <%= f.input :name, placeholder: 'Name'%>
  <%= f.input :start_time, minute_step: 15, :label => 'Start Time'%>
  <%= f.input :end_time, minute_step: 15, label: "End Time" %>
  <%= f.input :cost, label: "Cost" %>
  <%= f.input :location_name, label: "Location" %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>