  <!-- Top Nav -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="../" class="navbar-brand"><%= image_tag("brand.png", :size =>"121x27")%></a>
      </div>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li><%= link_to current_user.first_name, current_user %></li>
          <li><%= link_to(image_tag("icons/logout.png", size: "16"), destroy_user_session_path, :method => :delete )%></li>
          <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>

      </div>
    </div>
  </div> 

  <!-- Bottom Nav -->
  <nav class="navbar navbar-inverse navbar-lower">
      <ul class="nav nav-pills nav-justified ">
        <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to image_tag("icons/dash.png", :size =>"40"), root_path %>Dashboard</li>
        <li class="<%= 'active' if current_page?(transportations_path) %>"><%= link_to image_tag("icons/trans.png", :size =>"40"), transportations_path %>Transportation</li>
        <li class="<%= 'active' if current_page?(accommodations_path) %>"><%= link_to image_tag("icons/accom.png", :size =>"40"), accommodations_path  %>Accommodation</li>
        <li class="<%= 'active' if current_page?(schedules_path) %>"><%= link_to image_tag("icons/schedule.png", :size =>"40"), schedules_path  %>Schedule</li>
        <li class="<%= 'active' if current_page?(groups_path) %>"><%= link_to image_tag("icons/group.png",:size =>"40"), groups_path %>Groups</li>
      </ul>
  </nav>