<!DOCTYPE html>
<html>
<head>
  <title>CoTravel</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container">
    <div class="row"><%= render 'layouts/navbar' %></div>
    <div class="container"><div class = "banner"><%= render 'layouts/banner' %></div>

    <!-- Body -->
    <div class="row">
     <div class="page-header" id="banner">
        <%= render 'layouts/messages' %>
        <div class="body"><%= yield %></div>
      </div>
    </div>
  </div>

</body>
</html>


// <script>
// $('.navbar-lower').affix({
//   offset: {top: 50}
// });
// </script>